.container {
  block-size: 955px;
  inline-size: 100%;
  max-inline-size: 2005px;
}

.imagen {
  block-size: 955px;
  inline-size: 100%;
  max-inline-size: 2005px;
}

@media (max-width: 590px) {
  .container {
    block-size: 400px; /* Reduce la altura en pantallas más pequeñas */
    inline-size: 100%; /* Mantiene el ancho al 100% del contenedor padre */
    max-inline-size: none; /* Elimina el límite de ancho máximo */
  }

  .imagen {
    block-size: 400px;
    inline-size: 100%;
    max-inline-size: none;
  }
}

@media (max-width: 973px) {
}
