.container {
  position: relative;
  inline-size: 100%;
  block-size: 955px;
}

.layer {
  position: absolute;
  inset: 0;
  background-color: rgba(58, 52, 128, 0.6); /* Color morado #3a3480 con opacidad */ /* Color morado con opacidad */
  pointer-events: none;
  block-size: 955px;
  inline-size: 100%;
  max-inline-size: 100%;
}

.imagen {
  inline-size: 100%;
  block-size: 955px;
}

.textOverlay {
  position: absolute;
  inset-block-start: 50%; /* Centra el texto verticalmente */
  inset-inline-start: 50%; /* Centra el texto horizontalmente */
  transform: translate(-50%, -50%); /* Mantiene el centrado */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  padding: 20px;
  text-align: center;
  inline-size: 100%;
}

@media (max-width: 590px) {
  .container {
    position: relative;
    block-size: 800px; /* Reduce la altura en pantallas más pequeñas */
    inline-size: 100%; /* Mantiene el ancho al 100% del contenedor padre */
    max-inline-size: none; /* Elimina el límite de ancho máximo */
  }

  .layer {
    position: absolute;
    inset: 0;
    background-color: rgba(58, 52, 128, 0.6); /* Color morado #3a3480 con opacidad */ /* Color morado con opacidad */
    pointer-events: none;
    block-size: 800px;
    inline-size: 100%;
    max-inline-size: none;
  }

  .imagen {
    block-size: 800px;
    inline-size: 100%;
    max-inline-size: none;
  }
}
