.hoverColor:hover {
  color: #695fcf;
  cursor: pointer;
}

.footerOne {
}

.containerFooter {
}
@media (max-width: 899px) {
  .containerFooter {
    block-size: 600px;
  }

  .footerOne {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
  }
}
