.hoverColor:hover {
  color: var(--color-on-hover);
  cursor: pointer;
}

.footerOne {
}

.containerFooter {
}
@media (max-width: 899px) {
  .containerFooter {
    block-size: 630px;
  }

  .footerOne {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
  }
}
