/* Estilos para pantallas pequeñas (xs) */
@media (max-width: 576px) {
  .swiper {
    width: 100%;
    height: 100vh;
    z-index: 1;
  }
}

/* Estilos para pantallas más grandes */
@media (min-width: 577px) {
  .swiper {
    width: 100%;
    height: 100vh;
    z-index: 1;
  }
}

@media (min-width: 900px) {
  .swiper {
    width: 100%;
    min-height: 800px;
    height: 100vh;
    z-index: 1;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.image {
  object-fit: cover;
}
